<h3><%= @available_payment_method.payment_method.name %></h3>
<%= image_tag @available_payment_method.payment_method.icon %>

<dl>
  <dt><%= 'Tipo' %></dt>
  <dd><%= PaymentMethod.human_enum_name(:method_type, @available_payment_method.payment_method.method_type) %></dd>
  <dt><%= 'Taxa (%)' %></dt>
  <dd><%= number_with_delimiter @available_payment_method.payment_method.payment_tax %></dd>
  <dt><%= 'Taxa máxima' %></dt>
  <dd><%= number_to_currency @available_payment_method.payment_method.max_tax %></dd>
  <dt><%= 'Token de Identificação' %></dt>
  <dd><%= @available_payment_method.id_token %></dd>
</dl>

<%= link_to 'Excluir', available_payment_method_path, method: :delete %>