<h3>Cobranças</h3>

<% @bills.each do |bill| %>
  <dl>
    <dt><%= 'Cobrança' %></dt>
    <dd><%= link_to bill.display_name, admins_bill_path(bill) %></dd>
    <dt><%= 'Empresa' %></dt>
    <dd><%= bill.company.name %></dd>
    <dt><%= 'Preço de cobrança' %></dt>
    <dd><%= number_to_currency bill.final_amount %></dd>
    <dt><%= 'Status' %></dt>
    <dd><%= Bill.human_enum_name(:status, bill.status) %></dd>
  </dl>
<% end %>

<%= link_to 'Adicionar Cobrança', new_bill_path %>

