<h3><%= @bill.product.name %></h3>

<dl>
  <dt><%= 'Preço original' %></dt>
  <dd><%= number_to_currency @bill.amount %></dd>
  <dt><%= 'Preço de cobrança' %></dt>
  <dd><%= number_to_currency @bill.final_amount %></dd>
  <dt><%= 'Meio de Pagamento' %></dt>
  <dd><%= @bill.payment_method.name %></dd>
  <dt><%= 'Data limite de pagamento' %></dt>
  <dd><%= l @bill.due_date %></dd>
  <dt><%= 'Status' %></dt>
  <dd><%= Bill.human_enum_name(:status, @bill.status) %></dd>
</dl>

<%= link_to 'Editar', edit_bill_path %>
<%= link_to 'Excluir', bill_path, method: :delete %>

<h4>Tentativas de cobrança</h4>

<dl>
  <% @bill.billing_attempts.each do |billing_attempt| %>
    <dt><%= 'Data da tentativa' %></dt>
    <dd><%= billing_attempt.attempt_date.nil? ? 'Cobrança não tentada' : l(billing_attempt.attempt_date) %></dd>
    <dt><%= 'Status' %></dt>
    <dd><%= BillingAttempt.human_enum_name(:status, billing_attempt.status) %></dd>
    <% if billing_attempt.status == 'pending' %>
      <%= link_to 'Aprovar (05)', approve_admins_billing_attempt_path, method: :post %>
      <%= link_to 'Rejeitar - Crédito (09)', reject_credit_admins_billing_attempt_path, method: :post %>
      <%= link_to 'Rejeitar - Dados (10)', reject_data_admins_billing_attempt_path, method: :post %>
      <%= link_to 'Rejeitar - Desconhecido (11)', reject_unknown_admins_billing_attempt_path, method: :post %>
    <% end %>
  <% end %>
</dl>