<h3><%= @payment_method.name %></h3>
<%= image_tag @payment_method.icon %>

<dl>
  <dt><%= 'Tipo' %></dt>
  <dd><%= PaymentMethod.human_enum_name(:method_type, @payment_method.method_type) %></dd>
  <dt><%= 'Taxa (%)' %></dt>
  <dd><%= number_with_delimiter @payment_method.payment_tax %></dd>
  <dt><%= 'Taxa máxima' %></dt>
  <dd><%= number_to_currency @payment_method.max_tax %></dd>
  <dt><%= 'Status' %></dt>
  <dd><%= PaymentMethod.human_attribute_name("active.#{@payment_method.active.to_s}") %></dd>
</dl>

<%= link_to 'Editar', edit_admins_payment_method_path %>
<%= link_to 'Excluir', admins_payment_method_path, method: :delete %>