<h3><%= @product.name %></h3>

<dl>
  <dt><%= 'Valor' %></dt>
  <dd><%= number_to_currency @product.price %></dd>
  <dt><%= 'Desconto para cartão (%)' %></dt>
  <dd><%= number_with_delimiter @product.discount_credit %></dd>
  <dt><%= 'Desconto para boleto (%)' %></dt>
  <dd><%= number_with_delimiter @product.discount_ticket %></dd>
  <dt><%= 'Desconto para pix (%)' %></dt>
  <dd><%= number_with_delimiter @product.discount_pix %></dd>
  <dt><%= 'Token de Identificação' %></dt>
  <dd><%= @product.id_token %></dd>
</dl>

<%= link_to 'Editar', edit_product_path %>
<%= link_to 'Excluir', product_path(@product), method: :delete %>